nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fa8f38;
    position: sticky;
    top: 0;
}

nav .app-title {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}